*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

.mid{
	display:flex;
    align-items:center;
    justify-content: center;
    height: 100%;
}

.mid h1{
    font-size: 50px;
}

a{
    text-decoration:none
}

.antiund:hover{
    text-decoration: none !important;
}